# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.venv*/

# Local virtualenvs
UAV_TUI/
venv/
ENV/
.env/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage / test
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Distribution
build/
dist/
